<main>
  <div>
    <ul id="users">
      <li *ngFor="let user of userData">
        <app-users
          [selectedUser]="user"
          (selectedUserChange)="onClickUser($event)"
        ></app-users>
      </li>
    </ul>
  </div>
  <div class="user-details">
    <h2 class="user-name">{{ selectedUser?.name }}</h2>
    <p class="user-org">{{ selectedUser?.organization }}</p>
    <p class="user-contact">{{ selectedUser?.contactInfo }}</p>
    <p class="user-description">{{ selectedUser?.description }}</p>
  </div>
</main>
