<main>
  <ul id="users">
    <li>
      <app-users
        [selectedUser]="userData[0]"
        (selectedUserChange)="onClickUser($event)"
      ></app-users>
    </li>
    <li>
      <app-users
        [selectedUser]="userData[1]"
        (selectedUserChange)="onClickUser($event)"
      ></app-users>
    </li>
    <li>
      <app-users
        [selectedUser]="userData[2]"
        (selectedUserChange)="onClickUser($event)"
      ></app-users>
    </li>
    <li>
      <app-users
        [selectedUser]="userData[3]"
        (selectedUserChange)="onClickUser($event)"
      ></app-users>
    </li>
  </ul>

  <div class="user-details">
    <h2 class="user-name">{{ selectedUser?.name }}</h2>
    <p class="user-org">{{ selectedUser?.organization }}</p>
    <p class="user-contact">{{ selectedUser?.contactInfo }}</p>
    <p class="user-description">{{ selectedUser?.description }}</p>
  </div>
</main>
